<a href="https://colab.research.google.com/github/kartikey2302/demo-repo/blob/main/ambitionBox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web scraping project
### Website used - Ambition box
##### url -> 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav'

## Getting the data

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import requests

In [2]:
!pip install beautifulsoup4 --upgrade --quiet

     |████████████████████████████████| 128 kB 5.0 MB/s

In [3]:
from bs4 import BeautifulSoup

In [4]:
page_url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav'
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
html_source_code = BeautifulSoup(requests.get(page_url , headers=headers).text , 'html.parser')

In [ ]:
html_source_code

# Processing the data

In [6]:
name_tags = html_source_code.find_all('h2' , class_ ='company-name bold-title-l')

In [7]:
names = [i.text.strip() for i in name_tags]

In [8]:
rating_tags = []
rating_tags = html_source_code.find_all('div' , class_ = 'rating-wrapper')
rating_tags[0]

<div class="rating-wrapper"><p class="rating badge-large rating-35"><i class="icon icon-star"></i>
									3.9
								</p> <a class="review-count sbold-Labels" href="https://www.ambitionbox.com/reviews/tcs-reviews">
									(51k Reviews)
								</a></div>

In [9]:
ratings = [i.p.text.strip() for i in rating_tags]

In [10]:
ratings[:2] , names[:2]

(['3.9', '4.1'], ['TCS', 'Accenture'])

In [11]:
review_tags = []
review_tags = html_source_code.find_all('a' , class_ = 'review-count sbold-Labels')
reviews = []
reviews = [i.text.strip() for i in review_tags]
reviews[0]

'(51k Reviews)'

In [12]:
len(reviews)

30

In [13]:
company_info_tags = html_source_code.find_all('div' , class_ = 'company-basic-info')

In [18]:
company_info_tags[0].find_all('p' , class_ = 'infoEntity')

[<p class="infoEntity sbold-list-header"><i class="icon-domain"></i>
 							Public
 						</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-pin-drop"></i>
 							Mumbai,Maharashtra + 280 more
 						</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-access-time"></i>
 							54 years old
 						</p>,
 <p class="infoEntity sbold-list-header"><i class="icon-supervisor-account"></i>
 							1 Lakh+ Employees (India)
 						</p>]

In [33]:
domain , location , employee_count , company_age = [] , [] , [] , []
for i in range(len(company_info_tags)) :
  domain.append(company_info_tags[i].find_all('p' , class_ = 'infoEntity')[0].text.strip())
  location.append(company_info_tags[i].find_all('p' , class_ = 'infoEntity')[1].text.strip())
  company_age.append(company_info_tags[i].find_all('p' , class_ = 'infoEntity')[2].text.strip())
  employee_count.append(company_info_tags[i].find_all('p' , class_ = 'infoEntity')[3].text.strip())

### Columns that we have now.
1. names
2. ratings 
3. reviews
4. domain
5. location
6. company_age
7. employee_count

In [34]:
len(names) , len(ratings) , len(reviews) , len(domain) , len(location) , len(company_age) , len(employee_count)

(30, 30, 30, 30, 30, 30, 30)

In [35]:
dictionary = {
    'CompanyName' : names, 
    'Ratings' : ratings,
    'Reviews' : reviews,
    'Domain' : domain,
    'Location' : location,
    'CompanyAge' : company_age,
    'EmployeeCount' : employee_count
}

In [38]:
df = pd.DataFrame(dictionary)

In [39]:
df.head()

,CompanyName,Ratings,Reviews,Domain,Location,CompanyAge,EmployeeCount
0,TCS,3.9,(51k Reviews),Public,"Mumbai,Maharashtra + 280 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(33k Reviews),Public,Dublin + 143 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(30.3k Reviews),Private,Teaneck. New Jersey. + 101 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(35.4k Reviews),Public,"Mumbai,Maharashtra + 1049 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(40.7k Reviews),Public,"Mumbai,Maharashtra + 1230 more",28 years old,1 Lakh+ Employees (India)

In [41]:
df.sample(5)

,CompanyName,Ratings,Reviews,Domain,Location,CompanyAge,EmployeeCount
26,BYJU'S,3.5,(12.7k Reviews),Private,"Bangalore,Karnataka + 235 more",11 years old,1k-5k Employees (India)
17,Vodafone Idea,4.2,(14k Reviews),Public,"Gandhinagar,Gujrat + 569 more",4 years old,10k-50k Employees (India)
5,Wipro,3.9,(29.3k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 232 more",77 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(40.7k Reviews),Public,"Mumbai,Maharashtra + 1230 more",28 years old,1 Lakh+ Employees (India)
21,Reliance Industr...,4.1,(44.9k Reviews),Public,"Navi Mumbai,Maharashtra + 490 more",49 years old,1 Lakh+ Employees (India)

In [42]:
df.to_csv('final_csv')